{% extends "layout.twig" %}

{% block contenido %}

{% include 'mensaje_alerta.twig' %}

<div class="row">

<div class="col-md-4">


		<div class="panel panel-default">
		<div class="panel-heading"><i class="fa fa-area-chart">
		Empresas Registradas</i></div>
		<div class="panel-body">
			<h1>53</h1>
		</div>
		</div>

</div>

<div class="col-md-4">

		<div class="panel panel-default">
		  <div class="panel-body">
		     <h1>53</h1>
		  </div>
		</div>

</div>

<div class="col-md-4">

		<div class="panel panel-default">
		  <div class="panel-body">
		    Ubicaciones 
		  </div>

		</div>

</div>

</div>

{% endblock %}
