{# ESTACION DATOS ESTATUS #}

<div class="container" style="padding: 5px;padding-top: 30px; ">

<!--SELECT ESTATUS-->
<div class="form-group">
<label class="col-md-4 control-label" for="estado">Estatus</label>  
<div class="col-md-4">
    <select  id="estado" name="estado" placeholder="" class="form-control input-md">
    <option>Sin Asignar</option>
    <option>Asignado</option>
    </select>
<span class="help-block">Estatus del equipo en el inventario</span>  
</div>
</div>
<!--/.SELECT ESTATUS-->

</div>