{% extends "layout.twig" %}

{% block contenido %}

<!--NOMBRE DEL FORMULARIO-->
<legend>Datos de la Estación de Trabajo</legend>
<!--/.NOMBRE DEL FORMULARIO-->
    
<!--FORMULARIO DATOS-->

{% if editar == TRUE  %}  
<form class="form-horizontal" role="form" action="{{ app.url_generator.generate('estacionActualizar') }}" method="post">
<input type="hidden" name="id" id="id" value="{{ estacion.id }}" />
{% else %}
    <form class="form-horizontal" role="form" action="{{ app.url_generator.generate('estacionGuardar') }}" method="post">
{% endif%}
    
<fieldset>
    
    {% include 'mensaje_alerta.twig' %}
    
    <ul class="nav nav-tabs">
    <li class="active"><a aria-expanded="false" href="#estatus" data-toggle="tab">Estatus</a></li>
    <li class=""><a aria-expanded="false" href="#usuario" data-toggle="tab">Usuario</a></li>
    <li class=""><a aria-expanded="false" href="#equipo" data-toggle="tab">Equipo</a></li>
    <li class=""><a aria-expanded="false" href="#almacenamiento" data-toggle="tab">Almacenamiento</a></li>
    <li class=""><a aria-expanded="false" href="#procesador" data-toggle="tab">Procesador</a></li>
    <li class=""><a aria-expanded="false" href="#monitor" data-toggle="tab">Monitor</a></li>
    <li class=""><a aria-expanded="false" href="#video" data-toggle="tab">Video</a></li>
    <li class=""><a aria-expanded="false" href="#red" data-toggle="tab">Red</a></li>
    <li class=""><a aria-expanded="false" href="#energia" data-toggle="tab">Energía</a></li>
    <li class=""><a aria-expanded="false" href="#software" data-toggle="tab">Software</a></li>
    <li class=""><a aria-expanded="false" href="#otros" data-toggle="tab">Otros</a></li>
    </ul>
    
    <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="estatus">
    
        {% include 'estacion/estacion_datos_estatus.twig' %}
        
    </div>
    <div class="tab-pane fade" id="usuario">
    
        {% include 'estacion/estacion_datos_usuario.twig' %}      
        
    </div>
    <div class="tab-pane fade" id="equipo">
    
        {% include 'estacion/estacion_datos_equipo.twig' %} 

    </div>
    <div class="tab-pane fade" id="almacenamiento">
        
        {% include 'estacion/estacion_datos_almacenamiento.twig' %} 
   
    </div>
    <div class="tab-pane fade" id="procesador">

        {% include 'estacion/estacion_datos_procesador.twig' %}
        
    </div>
    <div class="tab-pane fade" id="monitor">
        
        {% include 'estacion/estacion_datos_monitor.twig' %}
    
    </div>
    <div class="tab-pane fade" id="video">
    
        {% include 'estacion/estacion_datos_video.twig' %}
        
    </div>
    <div class="tab-pane fade" id="red">
       
        {% include 'estacion/estacion_datos_red.twig' %}
    
    </div>
    <div class="tab-pane fade" id="energia">
        
        {% include 'estacion/estacion_datos_energia.twig' %}
        
    </div>
    <div class="tab-pane fade" id="software">
        
        {% include 'estacion/estacion_datos_software.twig' %}
        
    </div>
    <div class="tab-pane fade" id="otros">

        {% include 'estacion/estacion_datos_otros.twig' %}
        
    </div>
        
    </div>

    <!--BUTON-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="enviar"></label>
        <div class="col-md-4">
        <button id="enviar" name="enviar" class="btn btn-primary">Guardar</button>
        </div>
    </div>
    <!--/.BUTON-->
        
</fieldset>
</form>
<!--/.FORMULARIO DATOS-->

{% endblock %}

