{# ESTACIONES DATOS EQUIPO #}

<div class="container" style="padding: 5px;padding-top: 30px; ">
        
    <!--SELECT EQUPIPO MARCA-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="estado">Marca</label>  
    <div class="col-md-4">
        <select  id="estado" name="estado" placeholder="" class="form-control input-md">
        <option>HP</option>
        <option>DELL</option>
        </select>
    <span class="help-block">Marca del equipo</span>  
    </div>
    </div>
    <!--/.SELECT EQUIPO MARCA-->

    <!--TEXT INPUT EQUIPO SERIAL-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="equipo_serial">Serial</label>  
    <div class="col-md-4">
        <input id="usuario_nombre" name="equipo_serial" placeholder="" class="form-control input-md" type="text">
    <span class="help-block">Ingrese el serial</span>  
    </div>
    </div>
    <!--/.TEXTO INPUT EQUIPO SERIALL-->

    <!--TEXT INPUT EQUIPO ETIQUETA-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="equipo_etiqueta">Etiqueta PDVSA</label>  
    <div class="col-md-4">
        <input id="usuario_nombre" name="equipo_etiqueta" placeholder="" class="form-control input-md" type="text">
    <span class="help-block">Ingrese el número de la etiqueta PDVSA</span>  
    </div>
    </div>
    <!--/.TEXTO INPUT EQUIPO ETIQUETA-->    
        
</div>