{# ESTACIONES DATOS MONITOR #}

<div class="container" style="padding: 5px;padding-top: 30px; ">
            
    <!--TEXT INPUT MONITOR MARCA-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="monitor_marca_modelo">Monitor Modelo/Marca</label>  
    <div class="col-md-4">
        <input id="monitor_marca_modelo" name="monitor_marca_modelo" placeholder="" class="form-control input-md" type="text">
    <span class="help-block">Marca y modelo del Monitor</span>  
    </div>
    </div>
    <!--/.TEXTO INPUT MONITOR MARCA-->
    
    <!--TEXT INPUT MONITOR TAMAÑO-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="monitor_tamaño">Tamaño</label>  
    <div class="col-md-4">
        <input id="monitor_tamaño" name="monitor_tamaño" placeholder="" class="form-control input-md" type="text">
    <span class="help-block">Exprese el tamaño del monitor en pulgadas</span>  
    </div>
    </div>
    <!--/.TEXTO INPUT MONITOR TAMAÑO-->

    <!--TEXT INPUT MONITOR CANTIDAD-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="monitor_cantidad">Cantidad de Monitores</label>  
    <div class="col-md-4">
        <input id="monitor_cantidad" name="monitor_cantidad" placeholder="" class="form-control input-md" type="text">
    <span class="help-block">Ingrese la cantidad de monitores que posee el equipo</span>  
    </div>
    </div>
    <!--/.TEXTO INPUT MONITOR CANTIDAD-->
                
</div>


