{# FORMULARIO ESTACIÓN BUSCAR #}

{% extends "layout.twig" %}

{% block contenido %}

<!--NOMBRE DEL FORMULARIO-->
<legend>Buscar Estación de Trabajo</legend>
<!--/.NOMBRE DEL FORMULARIO-->

<!--BUSCAR-->
<form class="form-horizontal" action="{{ app.url_generator.generate('estacionListarPost') }}" method="post" >
<fieldset>
 <!--/.BUSCAR> 
 
<!--PARÁMETRO-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Parámetro">Parámetro</label>
  <div class="col-md-5">
    <div class="input-group">
      <input id="parametro" name="parametro" class="form-control" placeholder="NINGUNO" type="text">
      <!--<span class="input-group-addon">-->
      <span class="input-group-btn">
          <button class="btn btn-primary"  type="sumit">Buscar</button>
      </span>
    </div>      
    <p class="help-block">Seleccione una opción de búsqueda e ingrese el parámetro a buscar</p>
  </div>
</div>
<!--/.PARÁMETRO-->

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="s">Buscar por:</label>
  <div class="col-md-4">
    <!--NOMBRE DE USUARIO-->
  <div class="radio">
    <label for="radios-0">
      <input name="radios" id="radios-0" value="usuario_nombre" type="radio">
      Nombre de Usuario
    </label>
  </div>
  <!--HOSTNAME-->
  <div class="radio">
    <label for="radios-1">
      <input name="radios" id="radios-1" value="red_hostname" type="radio" checked>
      Hostname
    </label>
  </div>
  <!--DIRECCIÓN IP-->
  <div class="radio">
    <label for="radios-2">
      <input name="radios" id="radios-2" value="red_ip" type="radio">
      Dirección IP
    </label>
  </div>
  <!--EMPRESA-->
  <div class="radio">
    <label for="radios-3">
      <input name="radios" id="radios-3" value="usuario_empresa" type="radio">
      Empresa
    </label>
  </div>
  </div>
</div>

<!--CHECKBOX ESTATUS-->
<div class="form-group">
  <label class="col-md-4 control-label" for="checkboxes">Estatus</label>
  <div class="col-md-4">
    <label class="checkbox-inline" for="checkboxes-0">
      <input name="checkboxes[]" id="checkboxes-0" value="Sin Asignar" type="checkbox">
      Sin Asignar
    </label>
    <label class="checkbox-inline" for="checkboxes-1">
      <input name="checkboxes[]" id="checkboxes-1" value="Asignado" type="checkbox" checked >
      Asignado
    </label>
  </div>
</div>
<!--/.CHECKBOX ESTATUS-->

</fieldset>
</form>
<!--/.BUSCAR-->

{% endblock %}