{# ESTACIONES DATOS MONITOR #}

<div class="container" style="padding: 5px;padding-top: 30px; ">

    <!--TEXTAREA OBSERVACION-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="observacion">Observaciones</label>
        <div class="col-md-4">                     
        <textarea class="observacion" id="observacion" name="observacion"></textarea>
         <span class="help-block">Observación sobre el estado de la Estación de Trabajo</span>
        </div>
    </div>
    <!--./TEXTAREA OBSERVACIONES-->

</div>