{# ESTACIONES DATOS PROCESADOR #}

<div class="container" style="padding: 5px;padding-top: 70px; ">

     <!--TEXT INPUT PROCESADOR MODELO-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="procesador_modelo">Procesador Modelo/Marca</label>  
        <div class="col-md-4">
        <input id="estacion_usuario" name="procesador_modelo" placeholder="" class="form-control input-md" type="text">
        <span class="help-block">Indique la Marca y Modelo del procesador</span>  
        </div>
    </div>
    <!--/.TEXT INPUT PROCESADOR MODELO-->

    <!--TEXT INPUT PROCESADOR VELOCIDAD-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="procesador_velocidad">Velocidad del Procesador</label>  
        <div class="col-md-4">
        <input id="estacion_usuario" name="procesador_velocidad" placeholder="" class="form-control input-md" type="text">
        <span class="help-block">Indique la Velocidad del Procesador</span>  
        </div>
    </div>
    <!--/.TEXT INPUT PROCESADOR VELOCIDAD-->

    <!--TEXT INPUT PROCESADOR CANTIDAD-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="procesador_cantidad">Disco Duro</label>  
        <div class="col-md-4">
        <input id="estacion_usuario" name="procesador_cantidad" placeholder="" class="form-control input-md" type="text">
        <span class="help-block">Indique la Cantidad de Procesarores</span>  
        </div>
    </div>
    <!--/.TEXT INPUT PROCESADOR CANTIDAD-->

</div>

