{# ESTACIONES DATOS MONITOR #}

<div class="container" style="padding: 5px;padding-top: 30px; ">
            
    <!--SELECT VIDEO INTEGRADO-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="video_integrada">Video Integrado</label>  
        <div class="col-md-4">
            <select  id="video_integrada" name="video_integrado" placeholder="" class="form-control input-md">
                <option value="NO">No</option>
                <option value="Si">Si</option>
            </select>
        <span class="help-block">Especifique si la tarjeta es integrada o independiente.</span>  
        </div>
    </div>
    <!--/.SELECT VIDEO INTEGRADO-->

 <!--TEXT INPUT VIDEO MEMORIA-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="video_memoria">Memoria de Video</label>  
    <div class="col-md-4">
        <input id="video_memoria" name="video_memoria" placeholder="" class="form-control input-md" type="text">
    <span class="help-block">Cantidad de memoría de Video</span>  
    </div>
    </div>
    <!--/.TEXTO INPUT VIDEO MEMORIA-->

    <!--TEXT INPUT VIDEO MARCA MODELO-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="video_marca_modelo">Video Marca/Modelo</label>  
    <div class="col-md-4">
        <input id="video_marca_modelo" name="video_marca_modelo" placeholder="" class="form-control input-md" type="text">
    <span class="help-block">Indique la Marca y Modelo del video</span>  
    </div>
    </div>
    <!--/.TEXT INPUT VIDEO MARCA MODELO-->

    <!--TEXT INPUT VIDEO CANTIDAD-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="video_cantida">Cantidad de Tarjetas de Video</label>  
    <div class="col-md-4">
        <input id="video_cantida" name="video_cantida" placeholder="" class="form-control input-md" type="text">
    <span class="help-block">Número de tarjetas de video que posee el equipo</span>  
    </div>
    </div>
    <!--/.TEXT INPUT  VIDEO CANTIDAD-->
            
</div>