{# ESTACION DATOS ESTATUS #}

<div class="container" style="padding: 5px;padding-top: 30px; ">

<!--SELECT ESTATUS-->
<div class="form-group">
<label class="col-md-4 control-label" for="estatus">Estatus</label>  
<div class="col-md-4">
    <select  id="estatus" name="estatus" placeholder="" class="form-control input-md">
        <option value="Sin Asignar" {% if estacion.estatus == "Sin Asignar" %} selected {%endif%} >Sin Asignar</option>
        <option value="Asignado" {% if estacion.estatus == "Asignado" %} selected {%endif%} >Asignado</option>
    </select>
<span class="help-block">Estatus del equipo en el inventario</span>  
</div>
</div>
<!--/.SELECT ESTATUS-->

</div>