{# ESTACIONES DATOS MONITOR #}

<div class="container" style="padding: 5px;padding-top: 30px; ">
            
    <!--SELECT SISTEMA OPERATIVO-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="software_sistema_operativo">Sistema Operativo</label>  
    <div class="col-md-4">
        <select  id="estado" name="software_sistema_operativo" placeholder="" class="form-control input-md">
        <option>Windows XP 64 Bits</option>
        <option>Windows XP 32 Bits</option>
        </select>
    <span class="help-block">Sistema operativo que tiene instalado el equipo</span>  
    </div>
    </div>
    <!--/.SELECT SISTEMA OPERATIVO-->

    <!--TEXTAREA APLICACIONES-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="softwareAplicaciones">Aplicaciones</label>
        <div class="col-md-4">                     
        <textarea class="form-control" id="observacion" name="softwareAplicaciones"></textarea>
         <span class="help-block">AplicacionesInstaladas en la Estación de Trabajo</span>
        </div>
    </div>
    <!--./TEXTAREA APLICACIONES-->

</div>