{% extends "layout.twig" %}

{% block contenido %}

<!--BUSCAR-->
<form class="form-horizontal" action="{{ app.url_generator.generate('listar_post') }}" method="post" >
<fieldset>

<!--NOMBRE DEL FORMULARIO-->
<legend>Buscar Estación de Trabajo</legend>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="vlan">VLAN</label>
  <div class="col-md-5">
    <select id="vlan" name="vlan" class="form-control">
      <option value="TODAS">TODAS</option>
      <option value="PETROMONAGAS">PETROMONAGAS</option>
      <option value="PETROVICTORIA">PETROVICTORIA</option>
    </select>
      <p class="help-block">Seleccione una VLAN</p>
  </div>
</div>

<!-- Appended Input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Parámetro">Parámetro</label>
  <div class="col-md-5">
    <div class="input-group">
      <input id="parametro" name="parametro" class="form-control" placeholder="NINGUNO" required="" type="text">
      <!--<span class="input-group-addon">-->
      <span class="input-group-btn">
          <button class="btn btn-primary"  type="sumit">Buscar</button>
      </span>
    </div>      
    <p class="help-block">Seleccione una opción de búsqueda e ingrese el parámetro a buscar</p>
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="s">Buscar por:</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="radios-0">
      <input name="radios" id="radios-0" value="nombre" checked="checked" type="radio">
      Nombre
    </label>
	</div>
  <div class="radio">
    <label for="radios-1">
      <input name="radios" id="radios-1" value="usuario" type="radio">
      Usuario
    </label>
	</div>
  <div class="radio">
    <label for="radios-2">
      <input name="radios" id="radios-2" value="ip" type="radio">
      Dirección IP
    </label>
	</div>
        <div class="radio">
    <label for="radios-3">
      <input name="radios" id="radios-3" value="estatus" type="radio">
      Estatus
    </label>
	</div>
  </div>
</div>

</fieldset>
</form>
<!--/.BUSCAR-->

{% endblock %}