{% extends "layout.twig" %}

{% block contenido %}

<form class="form-horizontal" action="{{ app.url_generator.generate('crear_vlan') }}" method="post">
<fieldset>

    <!--NOMBRE DEL FORMULARIO-->
    <legend>Datos para Crear VLAN</legend>
    <!--/.NOMBRE DEL FORMULARIO-->
    
    <!--TEXT INPUT VLAN-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="vlan">Nombre de la VLAN</label>  
        <div class="col-md-4">
        <input id="vlan" name="vlan" placeholder="" class="form-control input-md" required="" type="text">
        <span class="help-block">Indique el nombre de la Vlan o Empresa</span>  
        </div>
    </div>
    <!--/.TEXT INPUT VLAN-->

    <!--TEXT INPUT PREFIJO-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="prefijo">Prefijo de Nombre de Estación</label>  
        <div class="col-md-4">
        <input id="red" name="prefijo" placeholder="" class="form-control input-md" required="" type="text">
        <span class="help-block">Siga la nomenclatura establecida por el grupo de STE</span>  
        </div>
    </div>
    <!--/.TEXT INPUT PREFIJO-->

    <!--TEXT INPUT RED-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="red">Dirección de RED</label>  
        <div class="col-md-4">
        <input id="red" name="red" placeholder="" class="form-control input-md" required="" type="text">
        <span class="help-block">Indique la dirección de RED para la VLAN</span>  
        </div>
    </div>
    <!--/.TEXT INPUT RED-->
    
    <!--TEXT INPUT PRIMERA_IP-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="primera_ip">Primera Dirección de RED</label>  
        <div class="col-md-4">
        <input id="red" name="primera_ip" placeholder="" class="form-control input-md" required="" type="text">
        <span class="help-block">Indique la primera dirección IP reservada para la VLAN</span>  
        </div>
    </div>
    <!--/.TEXT INPUT PRIMERA_IP-->
    
    <!--TEXT INPUT ÚLTIMA_IP-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="ultima_ip">Última Dirección de RED</label>  
        <div class="col-md-4">
        <input id="red" name="ultima_ip" placeholder="" class="form-control input-md" required="" type="text">
        <span class="help-block">Indique la útima dirección IP reservada para la VLAN</span>  
        </div>
    </div>
    <!--/.TEXT INPUT PRIMERA_IP-->
    
    <!--TEXT INPUT MASCARA-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="mascara">Mascara</label>  
        <div class="col-md-4">
        <input id="mascara" name="mascara" placeholder="placeholder" class="form-control input-md" required="" type="text">
        <span class="help-block">Mascara de la VLAN</span>  
        </div>
    </div>
    <!--/.TEXT INPUT MASCARA-->

    <!--TEXT INPUT BROADCAST-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="broadcast">Broadcast</label>  
        <div class="col-md-4">
        <input id="broadcast" name="broadcast" placeholder="placeholder" class="form-control input-md" required="" type="text">
        <span class="help-block">Broadcast de la VLAN</span>  
        </div>
    </div>
    <!--/.TEXT INPUT BROADCAST-->

    <!--TEXT INPUT GATEWAY-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="gateway">Gateway</label>  
        <div class="col-md-4">
        <input id="gateway" name="gateway" placeholder="placeholder" class="form-control input-md" required="" type="text">
        <span class="help-block">Gateway de la VLAN</span>  
        </div>
    </div>
    <!--/.TEXT INPUT GATEWAY-->

    <!--BUTON GENERAR-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="generar"></label>
        <div class="col-md-4">
        <button id="generar" name="generar" class="btn btn-primary">Crear</button>
        </div>
    </div>
    <!--/.BUTON GENERAR-->

</fieldset>
</form>

{% endblock %}
