{% extends "layout.twig" %}

{% block contenido %}

<!--FORMULARIO DATOS-->
<form class="form-horizontal">
<fieldset>

    <!--NOMBRE DEL FORMULARIO-->
    <legend>Datos de la Estación de Trabajo</legend>
    <!--/.NOMBRE DEL FORMULARIO-->
    
    <ul class="nav nav-tabs">
    <li class="active"><a aria-expanded="false" href="#estatus" data-toggle="tab">Estatus</a></li>
    <li class=""><a aria-expanded="false" href="#usuario" data-toggle="tab">Usuario</a></li>
    <li class=""><a aria-expanded="false" href="#equipo" data-toggle="tab">Equipo</a></li>
    <li class=""><a aria-expanded="false" href="#almacenamiento" data-toggle="tab">Almacenamiento</a></li>
    <li class=""><a aria-expanded="false" href="#procesador" data-toggle="tab">Procesador</a></li>
    <li class=""><a aria-expanded="false" href="#monitor" data-toggle="tab">Monitor</a></li>
    <li class=""><a aria-expanded="false" href="#video" data-toggle="tab">Video</a></li>
    <li class=""><a aria-expanded="false" href="#red" data-toggle="tab">Red</a></li>
    <li class=""><a aria-expanded="false" href="#energia" data-toggle="tab">Energía</a></li>
    <li class=""><a aria-expanded="false" href="#software" data-toggle="tab">Software</a></li>
    </ul>
    
    <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="estatus">
    
        <div class="container" style="padding: 5px;padding-top: 70px; ">
            
        <!--SELECT ESTATUS-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="estado">Estatus</label>  
        <div class="col-md-4">
            <select  id="estado" name="estado" placeholder="" class="form-control input-md">
            <option>Sin Asignar</option>
            <option>Asignado</option>
            </select>
        <span class="help-block">Estatus del equipo en el inventario</span>  
        </div>
        </div>
        <!--/.SELECT ESTATUS-->
        
        </div>
        
    </div>
    <div class="tab-pane fade" id="usuario">
    
        <div class="container" style="padding: 5px;padding-top: 70px; ">
            
        <!--TEXT INPUT USUARIO NOMBRE-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="usuario_nombre">Nombre del usuario</label>  
        <div class="col-md-4">
            <input id="usuario_nombre" name="usuario_nombre" placeholder="" class="form-control input-md" type="text">
        <span class="help-block">Ingrese Nombre y Apellido del usuario</span>  
        </div>
        </div>
        <!--/.TEXTO INPUT USUARIO NOMBRE-->

        <!--TEXT INPUT USUARIO INDICADOR-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="usuario_indicador">Indicador del Usuario</label>  
        <div class="col-md-4">
            <input id="usuario_indicador" name="usuario_indicador" placeholder="" class="form-control input-md" type="text">
        <span class="help-block">Indicador PDVSA</span>  
        </div>
        </div>
        <!--/.TEXT INPUT USUARIO INDICADOR-->
    
        <!--TEXT INPUT USUARIO EMPRESA-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="usuario_empresa">Empresa</label>  
        <div class="col-md-4">
            <input id="usuario_gerencia" name="usuario_empresa" placeholder="" class="form-control input-md" type="text">
        <span class="help-block">Empresa a la cual pertenece el usuario</span>  
        </div>
        </div>
        <!--/.TEXT INPUT USUARIO EMPRESA-->
    
        <!--TEXT INPUT USUARIO GERENCIA-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="usuario_gerencia">Gerencia</label>  
            <div class="col-md-4">
            <input id="usuario_gerencia" name="usuario_erencia" placeholder="" class="form-control input-md" type="text">
            <span class="help-block">Gerencia a la cual pertenece el usuario</span>  
            </div>
        </div>
        <!--/.TEXT INPUT USUARIO GERENCIA-->

        <!--SELECT USUARIO UBICACION-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="usuario_ubicacion">Ubicación</label>  
            <div class="col-md-4">
                <select  id="estado" name="usuario_ubicacion" placeholder="" class="form-control input-md">
                    <option>CBP PISO 1 EEII</option>
                    <option>CBP PISO 1 ALA SUR</option>
                </select>
            <span class="help-block">Ubicacón del equipo</span>  
            </div>
        </div>
        <!--/.SELECT USUARIO UBICACION-->
    
        </div>
        
    </div>
    <div class="tab-pane fade" id="equipo">
    
    <div class="container" style="padding: 5px;padding-top: 70px; ">
        
         <!--SELECT EQUPIPO MARCA-->
            <div class="form-group">
            <label class="col-md-4 control-label" for="estado">Marca</label>  
            <div class="col-md-4">
                <select  id="estado" name="estado" placeholder="" class="form-control input-md">
                <option>HP</option>
                <option>DELL</option>
                </select>
            <span class="help-block">Marca del equipo</span>  
            </div>
            </div>
            <!--/.SELECT EQUIPO MARCA-->

            <!--TEXT INPUT EQUIPO SERIAL-->
            <div class="form-group">
            <label class="col-md-4 control-label" for="equipo_serial">Serial</label>  
            <div class="col-md-4">
                <input id="usuario_nombre" name="equipo_serial" placeholder="" class="form-control input-md" type="text">
            <span class="help-block">Ingrese el Serial</span>  
            </div>
            </div>
            <!--/.TEXTO INPUT EQUIPO SERIALL-->

            <!--TEXT INPUT EQUIPO ETIQUETA-->
            <div class="form-group">
            <label class="col-md-4 control-label" for="equipo_etiqueta">Etiqueta PDVSA</label>  
            <div class="col-md-4">
                <input id="usuario_nombre" name="equipo_etiqueta" placeholder="" class="form-control input-md" type="text">
            <span class="help-block">Ingrese el número de la etiputa PDVSA</span>  
            </div>
            </div>
            <!--/.TEXTO INPUT EQUIPO ETIQUETA-->
        
    </div>
    </div>

    <div class="tab-pane fade" id="almacenamiento">
    <div class="container" style="padding: 5px;padding-top: 70px; ">
        
        <!--TEXT INPUT ALMECENAMIENTO RAM-->
            <div class="form-group">
            <label class="col-md-4 control-label" for="almacenamiento_ram">Memoría RAM</label>  
            <div class="col-md-4">
                <input id="estacion_usuario" name="almacenamiento_ram" placeholder="" class="form-control input-md" type="text">
            <span class="help-block">Tamño de la Memoria RAM del equipo</span>  
            </div>
            </div>
            <!--/.TEXT INPUT ALMECENAMIENTO RAM-->

            <!--TEXT INPUT ALMACENAMIENTO DD-->
            <div class="form-group">
            <label class="col-md-4 control-label" for="almacenamiento_dd">Disco Duro</label>  
            <div class="col-md-4">
                <input id="estacion_usuario" name="almacenamiento_dd" placeholder="" class="form-control input-md" type="text">
            <span class="help-block">Capacidad del Disco Duro</span>  
            </div>
            </div>
            <!--/.TEXT INPUT ALMACENAMIENTO DD-->

            <!--TEXT INPUT ALMACENAMIENTO CANTIDAD DD-->
            <div class="form-group">
            <label class="col-md-4 control-label" for="almacenamiento_dd_cantidad">Cantidad de Discos Duros</label>  
            <div class="col-md-4">
                <input id="estacion_usuario" name="almacenamiento_dd_cantidad" placeholder="" class="form-control input-md" type="text">
            <span class="help-block">Cantidad de Discos Duros que posee el equipo</span>  
            </div>
            </div>
            <!--/.TEXT INPUT ALMACENAMIENTO CANTIDAD DD-->
        
    </div>
    </div>
        
    </div>
        
    <!--BUTON-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="enviar"></label>
        <div class="col-md-4">
        <button id="enviar" name="enviar" class="btn btn-primary">Guardar</button>
        </div>
    </div>
    <!--/.BUTON-->
    
</fieldset>
</form>
<!--/.FORMULARIO DATOS-->

{% endblock %}

