{% extends "layout.twig" %}

{% block contenido %}

<!--FORMULARIO DATOS-->
<form class="form-horizontal">
<fieldset>

    <!--NOMBRE DEL FORMULARIO-->
    <legend>Datos de la Estación de Trabajo</legend>
    <!--/.NOMBRE DEL FORMULARIO-->

    <div class="panel panel-default">
    <div class="panel-heading">INVENTARIO</div>
    <div class="panel-body">
        <!--SELECT ESTATUS-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="estado">Estatus</label>  
        <div class="col-md-4">
            <select  id="estado" name="estado" placeholder="" class="form-control input-md">
            <option>Sin Asignar</option>
            <option>Asignado</option>
            </select>
        <span class="help-block">Estatus del equipo en el inventario</span>  
        </div>
        </div>
        <!--/.SELECT ESTATUS-->
    </div>
    </div>
    
    <div class="panel panel-default">
    <div class="panel-heading">USUARIO</div>
    <div class="panel-body">
        
     <!--TEXT INPUT USUARIO NOMBRE-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="usuario_nombre">Nombre del usuario</label>  
        <div class="col-md-4">
            <input id="usuario_nombre" name="usuario_nombre" placeholder="" class="form-control input-md" type="text">
        <span class="help-block">Ingrese Nombre y Apellido del usuario</span>  
        </div>
        </div>
        <!--/.TEXTO INPUT USUARIO NOMBRE-->

        <!--TEXT INPUT USUARIO INDICADOR-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="usuario_indicador">Indicador del Usuario</label>  
        <div class="col-md-4">
            <input id="usuario_indicador" name="usuario_indicador" placeholder="" class="form-control input-md" type="text">
        <span class="help-block">Indicador PDVSA</span>  
        </div>
        </div>
        <!--/.TEXT INPUT USUARIO INDICADOR-->
    
        <!--TEXT INPUT USUARIO EMPRESA-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="usuario_empresa">Empresa</label>  
        <div class="col-md-4">
            <input id="usuario_gerencia" name="usuario_empresa" placeholder="" class="form-control input-md" type="text">
        <span class="help-block">Empresa a la cual pertenece el usuario</span>  
        </div>
        </div>
        <!--/.TEXT INPUT USUARIO EMPRESA-->
    
        <!--TEXT INPUT USUARIO GERENCIA-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="usuario_gerencia">Gerencia</label>  
            <div class="col-md-4">
            <input id="usuario_gerencia" name="usuario_erencia" placeholder="" class="form-control input-md" type="text">
            <span class="help-block">Gerencia a la cual pertenece el usuario</span>  
            </div>
        </div>
        <!--/.TEXT INPUT USUARIO GERENCIA-->

        <!--SELECT USUARIO UBICACION-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="usuario_ubicacion">Ubicación</label>  
            <div class="col-md-4">
                <select  id="estado" name="usuario_ubicacion" placeholder="" class="form-control input-md">
                    <option>CBP PISO 1 EEII</option>
                    <option>CBP PISO 1 ALA SUR</option>
                </select>
            <span class="help-block">Ubicacón del equipo</span>  
            </div>
        </div>
        <!--/.SELECT USUARIO UBICACION-->
        
    </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">EQUIPO</div>
      <div class="panel-body">
          
           <!--SELECT EQUPIPO MARCA-->
            <div class="form-group">
            <label class="col-md-4 control-label" for="estado">Marca</label>  
            <div class="col-md-4">
                <select  id="estado" name="estado" placeholder="" class="form-control input-md">
                <option>HP</option>
                <option>DELL</option>
                </select>
            <span class="help-block">Marca del equipo</span>  
            </div>
            </div>
            <!--/.SELECT EQUIPO MARCA-->

            <!--TEXT INPUT EQUIPO SERIAL-->
            <div class="form-group">
            <label class="col-md-4 control-label" for="equipo_serial">Serial</label>  
            <div class="col-md-4">
                <input id="usuario_nombre" name="equipo_serial" placeholder="" class="form-control input-md" type="text">
            <span class="help-block">Ingrese el Serial</span>  
            </div>
            </div>
            <!--/.TEXTO INPUT EQUIPO SERIALL-->

            <!--TEXT INPUT EQUIPO ETIQUETA-->
            <div class="form-group">
            <label class="col-md-4 control-label" for="equipo_etiqueta">Etiqueta PDVSA</label>  
            <div class="col-md-4">
                <input id="usuario_nombre" name="equipo_etiqueta" placeholder="" class="form-control input-md" type="text">
            <span class="help-block">Ingrese el número de la etiputa PDVSA</span>  
            </div>
            </div>
            <!--/.TEXTO INPUT EQUIPO ETIQUETA-->
        
      </div>
    </div>
    
    
    <div class="panel panel-default">
      <div class="panel-heading">ALMACENAMIENTO</div>
      <div class="panel-body">
          
            <!--TEXT INPUT ALMECENAMIENTO RAM-->
            <div class="form-group">
            <label class="col-md-4 control-label" for="almacenamiento_ram">Memoría RAM</label>  
            <div class="col-md-4">
                <input id="estacion_usuario" name="almacenamiento_ram" placeholder="" class="form-control input-md" type="text">
            <span class="help-block">Tamño de la Memoria RAM del equipo</span>  
            </div>
            </div>
            <!--/.TEXT INPUT ALMECENAMIENTO RAM-->

            <!--TEXT INPUT ALMACENAMIENTO DD-->
            <div class="form-group">
            <label class="col-md-4 control-label" for="almacenamiento_dd">Disco Duro</label>  
            <div class="col-md-4">
                <input id="estacion_usuario" name="almacenamiento_dd" placeholder="" class="form-control input-md" type="text">
            <span class="help-block">Capacidad del Disco Duro</span>  
            </div>
            </div>
            <!--/.TEXT INPUT ALMACENAMIENTO DD-->

            <!--TEXT INPUT ALMACENAMIENTO CANTIDAD DD-->
            <div class="form-group">
            <label class="col-md-4 control-label" for="almacenamiento_dd_cantidad">Cantidad de Discos Duros</label>  
            <div class="col-md-4">
                <input id="estacion_usuario" name="almacenamiento_dd_cantidad" placeholder="" class="form-control input-md" type="text">
            <span class="help-block">Cantidad de Discos Duros que posee el equipo</span>  
            </div>
            </div>
            <!--/.TEXT INPUT ALMACENAMIENTO CANTIDAD DD-->
            
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">PROCESADOR</div>
      <div class="panel-body">
          
            <!--TEXT INPUT PROCESADOR MODELO-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="procesador_modelo">Procesador Modelo/Marca</label>  
                <div class="col-md-4">
                <input id="estacion_usuario" name="procesador_modelo" placeholder="" class="form-control input-md" type="text">
                <span class="help-block">Indique la Marca y Modelo del procesador</span>  
                </div>
            </div>
            <!--/.TEXT INPUT PROCESADOR MODELO-->

            <!--TEXT INPUT PROCESADOR VELOCIDAD-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="procesador_velocidad">Velocidad del Procesador</label>  
                <div class="col-md-4">
                <input id="estacion_usuario" name="procesador_velocidad" placeholder="" class="form-control input-md" type="text">
                <span class="help-block">Indique la Velocidad del Procesador</span>  
                </div>
            </div>
            <!--/.TEXT INPUT PROCESADOR VELOCIDAD-->

            <!--TEXT INPUT PROCESADOR CANTIDAD-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="procesador_cantidad">Disco Duro</label>  
                <div class="col-md-4">
                <input id="estacion_usuario" name="procesador_cantidad" placeholder="" class="form-control input-md" type="text">
                <span class="help-block">Indique la Cantidad de Procesarores</span>  
                </div>
            </div>
            <!--/.TEXT INPUT PROCESADOR CANTIDAD-->
            
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">MONITOR</div>
      <div class="panel-body">
          
           <!--SELECT MONITOR MARCA-->
            <div class="form-group">
            <label class="col-md-4 control-label" for="monitor_marca">Marca</label>  
            <div class="col-md-4">
                <select  id="estado" name="monitor_marca" placeholder="" class="form-control input-md">
                <option>HP</option>
                <option>DELL</option>
                </select>
            <span class="help-block">Marca del Monitor</span>  
            </div>
            </div>
            <!--/.SELECT MONITOR MARCA-->

            <!--TEXT INPUT MONITOR TIPO MODELO-->
            <div class="form-group">
            <label class="col-md-4 control-label" for="monitor_modelo">Serial</label>  
            <div class="col-md-4">
                <input id="usuario_nombre" name="monitor_modelo" placeholder="" class="form-control input-md" type="text">
            <span class="help-block">Ingrese el Tipo y Modelo del monitor</span>  
            </div>
            </div>
            <!--/.TEXTO INPUT MONITOR TIPO MODELOL-->

            <!--SELECT MONITOR CANTIDAD-->
            <div class="form-group">
            <label class="col-md-4 control-label" for="monitor_cantidad">Etiqueta PDVSA</label>  
            <div class="col-md-4">
                <select  id="estado" name="monitor_marca" placeholder="" class="form-control input-md">
                <option>0</option>  
                <option>1</option>
                <option>2</option>
                </select>
            <span class="help-block">Ingrese la cantidad de monitores que posee el equipo</span>  
            </div>
            </div>
            <!--/.SELECT MONITOR CANTIDAD-->
        
      </div>
    </div>

    <div class="panel panel-default">
    <div class="panel-heading">VIDEO</div>
    <div class="panel-body">
    
        <!--SELECT VIDEO INTEGRADO-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="video_integrado">Ubicación</label>  
            <div class="col-md-4">
                <select  id="estado" name="video_integrado" placeholder="" class="form-control input-md">
                    <option>No</option>
                    <option>Si</option>
                </select>
            <span class="help-block">Especifique si la tarjeta es integrada o independiente.</span>  
            </div>
        </div>
        <!--/.SELECT VIDEO INTEGRADO-->
        
     <!--TEXT INPUT VIDEO MEMORIA-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="video_memoria">Nombre del usuario</label>  
        <div class="col-md-4">
            <input id="usuario_nombre" name="video_memoria" placeholder="" class="form-control input-md" type="text">
        <span class="help-block">Cantidad de memoría de Video</span>  
        </div>
        </div>
        <!--/.TEXTO INPUT VIDEO MEMORIA-->

        <!--TEXT INPUT VIDEO MARCA MODELO-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="video_marca_modelo">Indicador del Usuario</label>  
        <div class="col-md-4">
            <input id="usuario_indicador" name="video_marca_modelo" placeholder="" class="form-control input-md" type="text">
        <span class="help-block">Indique la Marca y Modelo del video</span>  
        </div>
        </div>
        <!--/.TEXT INPUT VIDEO MARCA MODELO-->
    
        <!--TEXT INPUT VIDEO CANTIDAD-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="video_cantida">Empresa</label>  
        <div class="col-md-4">
            <input id="usuario_gerencia" name="video_cantida" placeholder="" class="form-control input-md" type="text">
        <span class="help-block">Nḿero de tarjetas de video que posee el equipo</span>  
        </div>
        </div>
        <!--/.TEXT INPUT  VIDEO CANTIDAD-->
        
    </div>
    </div>

    <div class="panel panel-default">
    <div class="panel-heading">RED</div>
    <div class="panel-body">

        <!--TEXT INPUT RED IP-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="red_ip">Dirección IP</label>  
            <div class="col-md-4">
            <input id="estacion_usuario" name="red_ip" placeholder="" class="form-control input-md" type="text">
            <span class="help-block">Dirección IP del equipo</span>  
            </div>
        </div>
        <!--/.TEXT INPUT RED IP-->

        <!--TEXT INPUT RED HOSTNAME-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="red_hostname">Hostname</label>  
            <div class="col-md-4">
            <input id="estacion_usuario" name="red_hostname" placeholder="" class="form-control input-md" type="text">
            <span class="help-block">Nombre de la estación de trabajo</span>  
            </div>
        </div>
        <!--/.TEXT INPUT RED HOSTNAME-->

        <!--TEXT INPUT RED GATEWAY-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="red_gateway">Gateway de la Red</label>  
            <div class="col-md-4">
            <input id="estacion_usuario" name="procesador_cantidad" placeholder="" class="form-control input-md" type="text">
            <span class="help-block">Gateway de la red donde esta conectado el equipo</span>  
            </div>
        </div>
        <!--/.TEXT INPUT GATEWAY-->
        
        <!--TEXT INPUT RED MASCARA-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="red_mascara">Mascara</label>  
            <div class="col-md-4">
            <input id="estacion_usuario" name="procesador_mascara" placeholder="" class="form-control input-md" type="text">
            <span class="help-block">Mascara de la red donde esta conectado el equipo</span>  
            </div>
        </div>
        <!--/.TEXT INPUT RED MASCARA-->
        
        <!--TEXT INPUT MAC-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="red_mac">MAC</label>  
            <div class="col-md-4">
            <input id="estacion_usuario" name="procesador_mac" placeholder="" class="form-control input-md" type="text">
            <span class="help-block">MAC de la tarjeta de Red</span>  
            </div>
        </div>
        <!--/.TEXT INPUT RED MASCARA-->

    </div>
    </div>
    
    <div class="panel panel-default">
    <div class="panel-heading">ENERGÍA</div>
    <div class="panel-body">

        <!--TEXT INPUT ENERGÍA DISPOSITIVO-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="energia_dispositivo">Dispositivo</label>  
            <div class="col-md-4">
            <input id="estacion_usuario" name="energia_dispositivo" placeholder="" class="form-control input-md" type="text">
            <span class="help-block">Especifique el dispositivo de energia que posee el equipo</span>  
            </div>
        </div>
        <!--/.TEXT INPUT ENERGÍA DISPOSITIVO-->

        <!--TEXT INPUT ENERGÍA ESTADO-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="energia_estado">Estado</label>  
            <div class="col-md-4">
            <input id="estacion_usuario" name="energia_estado" placeholder="" class="form-control input-md" type="text">
            <span class="help-block">Estado del dispositivo de energía</span>  
            </div>
        </div>
        <!--/.TEXT INPUT ENERGÍA ESTADO-->

        <!--TEXT INPUT ENERGÍA  MARCA MODELO-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="energia_marca_modelo">Marca / Modelo</label>  
        <div class="col-md-4">
            <input id="usuario_indicador" name="energia_marca_modelo" placeholder="" class="form-control input-md" type="text">
        <span class="help-block">Indique la Marca y Modelo del dispositivo de Energía</span>  
        </div>
        </div>
        <!--/.TEXT INPUT ENERGÍA  MARCA MODELO-->

    </div>
    </div>
    
    <div class="panel panel-default">
    <div class="panel-heading">SOFTWARE</div>
    <div class="panel-body">
        
        <!--SELECT SISTEMA OPERATIVO-->
        <div class="form-group">
        <label class="col-md-4 control-label" for="software_sistema_operativo">Sistema Operativo</label>  
        <div class="col-md-4">
            <select  id="estado" name="software_sistema_operativo" placeholder="" class="form-control input-md">
            <option>Windows XP 64 Bits</option>
            <option>Windows XP 32 Bits</option>
            </select>
        <span class="help-block">Sistema operativo que tiene instalado el equipo</span>  
        </div>
        </div>
        <!--/.SELECT SISTEMA OPERATIVO-->
        
        <!--TEXTAREA APLICACIONES-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="softwareAplicaciones">Aplicaciones</label>
            <div class="col-md-4">                     
            <textarea class="form-control" id="observacion" name="softwareAplicaciones"></textarea>
             <span class="help-block">AplicacionesInstaladas en la Estación de Trabajo</span>
            </div>
        </div>
        <!--./TEXTAREA APLICACIONES-->
    
    </div>
    </div>
    
    <div class="panel panel-default">
    <div class="panel-heading">OTROS</div>
    <div class="panel-body">
        
       <!--TEXTAREA OBSERVACION-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="otros_observacion">Aplicaciones</label>
            <div class="col-md-4">                     
            <textarea class="form-control" id="observacion" name="otros_observacion"></textarea>
             <span class="help-block">Observación sobre el estado de la Estación de Trabajo</span>
            </div>
        </div>
        <!--./TEXTAREA OBSERVACIONES-->
    
    </div>
    </div>
    
    <!--BUTON-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="enviar"></label>
        <div class="col-md-4">
        <button id="enviar" name="enviar" class="btn btn-primary">Guardar</button>
        </div>
    </div>
    <!--/.BUTON-->
    
</fieldset>
</form>
<!--/.FORMULARIO DATOS-->

{% endblock %}

