{% extends "layout.html" %}

{% block content %}

<div class="panel panel-default">
<div class="panel-heading">Datos de la Estaciones de Trabajo</div>
<div class="panel-body">
	
	{% if editar is defined and editar == true %}
		<form role="form" action="{{ app.url_generator.generate('actualizar') }}" method="post">
		<input type="hidden" name="id_estacion" id="id_estacion" value="{{ estacion.id_estacion }}" />
	{% else %}
		<form role="form" action="{{ app.url_generator.generate('nuevo') }}" method="post">
	{% endif %}

		<input type="hidden" name="id_empresa" id="id_empresa" value="{{ estacion.id_empresa }}" />
		
		<div class="form-group">
			<label for="usuario">Usuario:</label>
			<input type="text" class="form-control" name="usuario" id="usuario" value="{% if estacion.usuario is defined %}{{ estacion.usuario }}{% endif %}" />
		</div>

		<div class="form-group">
			<label for="nombre_estacion">Nombre de la estación:</label>
			<input type="text" class="form-control" name="nombre_estacion" id="nombre_estacion" value="{% if estacion.nombre_estacion is defined %}{{ estacion.nombre_estacion }}{% endif %}" />
		</div>


		<div class="form-group">
			<label for="ip">Dirección IP:</label>
			<input type="text" class="form-control" name="direccion_ip" id="direccion_ip" value="{% if estacion.direccion_ip is defined %}{{ estacion.direccion_ip }}{% endif %}" />
		</div>

		<div class="form-group">
			<label for="Estatus">Estatus:</label>	
			<select class="form-control" name="estatus" id="estatus">
  				<option value="activa" {% if estacion.estatus is defined and estacion.estatus == 'activa' %}selected{% endif %}>Activa</option>
  				<option value="inactiva" {% if estacion.estatus is defined and estacion.estatus == 'inactiva' %}selected{% endif%}>Inactiva</option>
  			</select>
  		</div>

		<div class="form-group">
			<label for="observacion">Observacion:</label>
			<textarea class="form-control" rows="3" name="observacion" id="observacion">
			{% if estacion.observacion is defined %}{{ estacion.observacion }}{% endif %}
			</textarea>
		</div>



		{% if editar is defined and editar == true %}
			<button  class="btn btn-default">Actualizar</button>
		{% else %}
			<button  class="btn btn-default">Agregar</button>
		{% endif %}

	</form>

</div>
</div>

{% endblock %}
