{% extends "layout.base.html" %}

{% block contenido_inicial %}

<div class="container-fluid main-container">
    
<!-- MENU PRINCIPAL -->
<div class="col-md-2 sidebar"> 
    <div class="panel panel-default">
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            <li class="active">
                <a href="#">Inicio</a>
            </li>
            <li><a href="#">Buscar</a></li>
            <li><a href="#">Ingresar</a></li>
            <li><a href="#">Liberar</a></li>
            <li><a href="#">Listar</a></li>
            <li><a href="#">Reportes</a></li>
	</ul>       
    </div>
    </div> 
</div>
 <!--/.MENU PRINCIPAL--> 
    
{% block contenido_2 %}{% endblock %}

</div>

{% endblock %}


