<ul class="pagination">
<li><a href="#">&laquo;</a></li>
  
{% for i in range (0, numeroPaginas) %}
    <li {% if (pagina == i) %} class="active" {% endif %} >
    {% if (pagina == i) %}
        <span>{{i}}<span class="sr-only"></span></span>
    {% else %}
        <a href="{{ app.url_generator.generate('listar_paginado', {'parametro':parametro,'vlan':vlan,'opcion':opcion,'pagina':i}) }}" >    
        {{i}}
        </a>
   {% endif %}   
    </li>
{% endfor %}
  
<li><a href="#">&raquo;</a></li>
</ul>
