{# ESTACIONES DATOS MONITOR #}

<div class="container" style="padding: 5px;padding-top: 70px; ">
            
    <!--SELECT MONITOR MARCA-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="monitor_marca">Marca</label>  
    <div class="col-md-4">
        <select  id="estado" name="monitor_marca" placeholder="" class="form-control input-md">
        <option>HP</option>
        <option>DELL</option>
        </select>
    <span class="help-block">Marca del Monitor</span>  
    </div>
    </div>
    <!--/.SELECT MONITOR MARCA-->

    <!--TEXT INPUT MONITOR TIPO MODELO-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="monitor_modelo">Serial</label>  
    <div class="col-md-4">
        <input id="usuario_nombre" name="monitor_modelo" placeholder="" class="form-control input-md" type="text">
    <span class="help-block">Ingrese el Tipo y Modelo del monitor</span>  
    </div>
    </div>
    <!--/.TEXTO INPUT MONITOR TIPO MODELOL-->

    <!--SELECT MONITOR CANTIDAD-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="monitor_cantidad">Etiqueta PDVSA</label>  
    <div class="col-md-4">
        <select  id="estado" name="monitor_marca" placeholder="" class="form-control input-md">
        <option>0</option>  
        <option>1</option>
        <option>2</option>
        </select>
    <span class="help-block">Ingrese la cantidad de monitores que posee el equipo</span>  
    </div>
    </div>
    <!--/.SELECT MONITOR CANTIDAD-->
            
</div>


