{# ESTACIONES DATOS MONITOR #}

<div class="container" style="padding: 5px;padding-top: 70px; ">
            
    <!--TEXT INPUT RED IP-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="red_ip">Dirección IP</label>  
        <div class="col-md-4">
        <input id="estacion_usuario" name="red_ip" placeholder="" class="form-control input-md" type="text">
        <span class="help-block">Dirección IP del equipo</span>  
        </div>
    </div>
    <!--/.TEXT INPUT RED IP-->

    <!--TEXT INPUT RED HOSTNAME-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="red_hostname">Hostname</label>  
        <div class="col-md-4">
        <input id="estacion_usuario" name="red_hostname" placeholder="" class="form-control input-md" type="text">
        <span class="help-block">Nombre de la estación de trabajo</span>  
        </div>
    </div>
    <!--/.TEXT INPUT RED HOSTNAME-->

    <!--TEXT INPUT RED GATEWAY-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="red_gateway">Gateway de la Red</label>  
        <div class="col-md-4">
        <input id="estacion_usuario" name="procesador_cantidad" placeholder="" class="form-control input-md" type="text">
        <span class="help-block">Gateway de la red donde esta conectado el equipo</span>  
        </div>
    </div>
    <!--/.TEXT INPUT GATEWAY-->

    <!--TEXT INPUT RED MASCARA-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="red_mascara">Mascara</label>  
        <div class="col-md-4">
        <input id="estacion_usuario" name="procesador_mascara" placeholder="" class="form-control input-md" type="text">
        <span class="help-block">Mascara de la red donde esta conectado el equipo</span>  
        </div>
    </div>
    <!--/.TEXT INPUT RED MASCARA-->

    <!--TEXT INPUT MAC-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="red_mac">MAC</label>  
        <div class="col-md-4">
        <input id="estacion_usuario" name="procesador_mac" placeholder="" class="form-control input-md" type="text">
        <span class="help-block">MAC de la tarjeta de Red</span>  
        </div>
    </div>
    <!--/.TEXT INPUT RED MASCARA-->

</div>