{# ESTACIONES DATOS MONITOR #}

<div class="container" style="padding: 5px;padding-top: 70px; ">
            
    <!--TEXT INPUT ENERGÍA DISPOSITIVO-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="energia_dispositivo">Dispositivo</label>  
        <div class="col-md-4">
        <input id="estacion_usuario" name="energia_dispositivo" placeholder="" class="form-control input-md" type="text">
        <span class="help-block">Especifique el dispositivo de energia que posee el equipo</span>  
        </div>
    </div>
    <!--/.TEXT INPUT ENERGÍA DISPOSITIVO-->

    <!--TEXT INPUT ENERGÍA ESTADO-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="energia_estado">Estado</label>  
        <div class="col-md-4">
        <input id="estacion_usuario" name="energia_estado" placeholder="" class="form-control input-md" type="text">
        <span class="help-block">Estado del dispositivo de energía</span>  
        </div>
    </div>
    <!--/.TEXT INPUT ENERGÍA ESTADO-->

    <!--TEXT INPUT ENERGÍA  MARCA MODELO-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="energia_marca_modelo">Marca / Modelo</label>  
    <div class="col-md-4">
        <input id="usuario_indicador" name="energia_marca_modelo" placeholder="" class="form-control input-md" type="text">
    <span class="help-block">Indique la Marca y Modelo del dispositivo de Energía</span>  
    </div>
    </div>
    <!--/.TEXT INPUT ENERGÍA  MARCA MODELO-->

    </div>
    </div>

    <div class="tab-pane fade" id="software">
    <div class="container" style="padding: 5px;padding-top: 70px; ">

                <!--SELECT SISTEMA OPERATIVO-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="software_sistema_operativo">Sistema Operativo</label>  
    <div class="col-md-4">
        <select  id="estado" name="software_sistema_operativo" placeholder="" class="form-control input-md">
        <option>Windows XP 64 Bits</option>
        <option>Windows XP 32 Bits</option>
        </select>
    <span class="help-block">Sistema operativo que tiene instalado el equipo</span>  
    </div>
    </div>
    <!--/.SELECT SISTEMA OPERATIVO-->

    <!--TEXTAREA APLICACIONES-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="softwareAplicaciones">Aplicaciones</label>
        <div class="col-md-4">                     
        <textarea class="form-control" id="observacion" name="softwareAplicaciones"></textarea>
         <span class="help-block">AplicacionesInstaladas en la Estación de Trabajo</span>
        </div>
    </div>
    <!--./TEXTAREA APLICACIONES-->

</div>