<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    #RewriteBase /silexSkeletor/silex-skeleton/web/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index_dev.php [QSA,L]
</IfModule>
